* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: linear-gradient(260deg, #7e3333 0%, #661a1a 100%);
}

ul {
  list-style-type: none;
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  /* background: rgba(0, 0, 0, 0.2); */
  /*padding: 5px 5px; */
  display: inline-block;
  /* width: 100%; */
  text-align: center;
  transition: all 0.5s;
  /* border: crimson solid 2px; */
}

/* .infoNav:hover {
  background: rgba(0, 0, 0, 0.4);
} */

.container {
  max-width: auto;
  /* margin: 0 auto; */
  /* padding: 5px; */
}

/* FLEXBOX STUFF------------------------------------------- */
.logo img {
  background: currentColor;
  vertical-align: bottom;
  width: auto;
  height: 10vh;
  display: flex;
  align-self: flex-start;
  /* border-radius: 100%; when the screen is less than 500px*/
}

.logo {
  background: firebrick;
}

.lBox ul {
  display: flex;
  flex-wrap: wrap;
}

.lBox li {
  height: 40vh;
  flex-grow: 1;
}

.lBox img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.mBox ul {
  display: flex;
  flex-wrap: wrap;
}

.mBox li {
  height: 40vh;
  flex-grow: 1;
}

.mBox img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.infoNav {
  display: flex; /* create nested flex container */
  justify-content: center; /* center text horizontally */
  align-items: center; /* center text vertically */
  flex-wrap: wrap;
}

.inNavT {
  font-size: 16px;
  font-family: monospace;
  flex-grow: 4;
  background: firebrick;
  /* flex: 0.25; */
}
.inNavT:hover {
  cursor: default;
}

.inNavL {
  padding: 0 2px;
  font-size: 16px;
  font-family: monospace;
  flex-grow: 2;
  background: darkslateblue;
}
.inNavL:hover {
  background: chocolate;
}
.inNavM {
  padding: 0 2px;
  font-size: 16px;
  font-family: monospace;
  flex-grow: 2;
  background: darkgreen;
}
.inNavM:hover {
  background: cornflowerblue;
}
.inNav2 {
  flex-grow: 1;
  background: #4267b2;
}
.inNav2:hover {
  background: #3b5998;
}
.inNav3 {
  flex-grow: 1;
  background: #f77737;
}
.inNav3:hover {
  background: #833ab4;
}
/* .inNav4 {
  background: #e74c3c;
} */

.flexBar ul {
  display: flex;
}

/* .flexBar li {
  flex-grow: 1;
} */
.leather {
  display: flex;
  justify-content: center; /*  TODO: MAKE NAV JUMP TO LEATHER WORKS */
}

.metal {
  display: flex;
  justify-content: center; /*  TODO: MAKE NAV JUMP TO METAL WORKS */
}

@media all and (max-width: 1000px) {
  .flexBar ul {
    flex-wrap: wrap;
  }
  .flexBar {
    flex: 1 1 50%;
  }
  .flexBar .social {
    flex: 1 1 25%;
  }
}

@media all and (max-width: 499px) {
  .flexBar li {
    flex-basis: 100%;
  }
  .logo img {
    vertical-align: bottom;
    width: auto;
    height: 10vh;
    display: flex;
    /* justify-content: center; */
    border-radius: 100%;
    align-self: center;
  }
}
